{{template "base" .}}
 
{{define "title"}}BNTU — foreigner{{end}}
 
{{define "main"}}
<div class="container">
            <div class="about">
                <h1>Hello, foreign guest, here you will find information about the educational process in BNTU!</h1>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
                <div class="col">
                    <div class="card">
                        <img src="static/depositphotos_12541400-stock-photo-time-management.jpg" class="card-img-top" alt="curriculum">
                        <div class="card-body">
                          <h5 class="card-title">Сurriculum</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorem explicabo nulla, repudiandae possimus labore! Eveniet sed aspernatur magnam labore!</p>
                          <a href="/curriculum" class="btn btn-primary">Read more</a>
                        </div>
                      </div>
                </div>
                
                <div class="col">
                    <div class="card">
                        <img src="static/image_10125_e1e1c8d5f6f819ba2514118581ca3494.jpg" class="card-img-top" alt="buildings">
                        <div class="card-body">
                          <h5 class="card-title">Location of buildings</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae voluptates, doloribus culpa qui harum aliquid itaque quis repellendus iste.</p>
                          <a href="/buildings" class="btn btn-primary">Read more</a>
                        </div>
                      </div>
                </div>
                <div class="col">
                  <div class="card">
                      <img src="static/edu_asp.jpg" class="card-img-top" alt="exams">
                      <div class="card-body">
                        <h5 class="card-title">Exams and tests</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio vel dolore quod dignissimos sapiente ab reiciendis dolorum, voluptatibus est. Quisquam.</p>
                        <a href="/exams" class="btn btn-primary">Read more</a>
                      </div>
                    </div>
              </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
              <div class="col">
                  <div class="card">
                      <img src="static/depositphotos_12541400-stock-photo-time-management.jpg" class="card-img-top" alt="curriculum">
                      <div class="card-body">
                        <h5 class="card-title">Сurriculum</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorem explicabo nulla, repudiandae possimus labore! Eveniet sed aspernatur magnam labore!</p>
                        <a href="/curriculum" class="btn btn-primary">Read more</a>
                      </div>
                    </div>
              </div>
              
              <div class="col">
                  <div class="card">
                      <img src="static/image_10125_e1e1c8d5f6f819ba2514118581ca3494.jpg" class="card-img-top" alt="buildings">
                      <div class="card-body">
                        <h5 class="card-title">Location of buildings</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repudiandae voluptates, doloribus culpa qui harum aliquid itaque quis repellendus iste.</p>
                        <a href="/buildings" class="btn btn-primary">Read more</a>
                      </div>
                    </div>
              </div>
              <div class="col">
                <div class="card">
                    <img src="static/edu_asp.jpg" class="card-img-top" alt="exams">
                    <div class="card-body">
                      <h5 class="card-title">Exams and tests</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio vel dolore quod dignissimos sapiente ab reiciendis dolorum, voluptatibus est. Quisquam.</p>
                      <a href="/exams" class="btn btn-primary">Read more</a>
                    </div>
                  </div>
            </div>
          </div>
          </div>
{{end}}